/* Algolia.js */

.box {
    width:'100%';  
}

.outerBlock {
    background-color: #D7E9E6;
    font-family: 'Roboto';
    padding: 60px;
    width: 600px;
    margin: auto;
}

.block {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.header {
    width: 100%;
}

.input {
    height: 58px;
    width: 530px;
    background-color: #EFEFEF;
    border: none;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    font-size: 40px;
    font-weight: 400;
    background-color: transparent;
    color: #6f7496;
    outline: none;
}

.inputBackground {
    height: 58px;
    width: 590px;
    border-radius: 30px;
    background-color: #EFEFEF;
}

.nextPageButton {
    color: #6f7496;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
}

/* Algolia.js */

/* List.js */

.dataAmount {
    text-align: left;
    font-size: 12px;
    color: #999999;
    font-weight: 500;
    margin-top: 15.5px;
    margin-bottom: 15.5px;
    display: inline-block;
}

.listBlock {
    width: 570px;
    background-color: #647AFF;
    border-radius: 3px;
    text-align: left;
    padding: 15px 10px 15px 10px;
    margin-top: 5px;
    cursor: pointer;
}

.listBlock:hover{
    box-shadow: 0 0 3px 2px rgba(106, 106, 190, 0.5);
}

.title {
    color: #FFFFFF;
    font-size: 16px;
}

.author {
    color: #B4BFFF;
    font-size: 13px;
}

.summaryBlock {
    padding: 5px;
    background-color: #656EDA;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 18px;
    border-radius: 2px;
    margin-top: 15px;
}

.summary {
    line-height: 15px;
}

.pageBlock {
    display: inline-block;
    margin-left: 50px;
    text-align: left;
    font-size: 12px;
    color: #999999;
    font-weight: 500;
}

.pageList {
    display: inline-block;
    margin-left: 20px;
    text-align: left;
    font-size: 12px;
    color: #999999;
    font-weight: 500;
}

.pageButton {
    border: none;
    color: #999999;
    background-color: #FFFFFF;
    cursor: pointer;
}

.pageSelected {
    border: none;
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

.page {
    display: inline-block;
}

/* List.js */